<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= message %></h1>
    <h2>isLoggedIn:<%= isLoggedIn %></h2>
    <% if (isLoggedIn) { %>
    <!-- Show logout button only if user is logged in -->
    <form action="/logout" method="get">
      <button type="submit">Logout</button>
    </form>
    <% } %>
    <p>Don't have an account? <a href="/register">Sign up</a></p>
    <p>Already have an account? <a href="/login">Log in</a></p>
  </body>
</html>
