<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= message %></title>
  </head>
  <body>
    <h1><%= message %></h1>
    <form action="/password-reset-request" method="post">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />
      <br />
      <br />
      <button type="submit">Send Reset Link</button>
    </form>
    <p>Don't have an account? <a href="/register">Sign up</a></p>
  </body>
</html>
